language: python
python:
  - "2.7"
  - "2.6"
# command to install dependencies, e.g. pip install -r requirements.txt --use-mirrors
install:
  - pip install .
  - pip install -r requirements.txt --allow-insecure matplotlib --allow-all-external
# command to run tests, e.g. python setup.py test
script: nosetests
sudo: false
